.sidebar {
  grid-area: sidebar;
  background-color: var(--secondary);
  color: var(--text);
  padding: 1.5rem;
  border-radius: 12px;
  width: 250px;
  height: fit-content;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: "Patrick Hand", cursive; /* Use a chalk-like font */
}

.sidebar h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--text);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 1rem;
}

.sidebar a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--text);
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

/* Hover effect */
.sidebar a:hover {
  background-color: var(--muted-text);
  color: var(--accent);
}

/* Active link */
.active {
  background-color: var(--accent);
  color: white;
  font-weight: bold;
}
