:root {
  --primary: #efd39c;
  --secondary: #11592e;
  --text: #ffffff;
  --muted-text: #666666;
  --accent: #6200EE;
}

[data-theme="dark"] {
  --primary: #121212;
  --secondary: #1E1E1E;
  --text: #FFFFFF;
  --muted-text: #B3B3B3;
  --accent: #BB86FC;
}

body {
  background-color: var(--primary);
  color: var(--text);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}